<form {{action "authenticate" on="submit"}}>
  <hbox>
    <box xs="12">
      <label for="identification">Login</label>
      {{input id="identification"
        placeholder="Enter Login"
        value=identification
        key-press="clearError"}}
    </box>
    <box xs="12">
      <label for="password">Password</label>
      {{input id="password"
        placeholder="Enter Password"
        type="password"
        value=password
        key-press="clearError"}}
    </box>
  </hbox>
  <hbox>
    <centered xs="9">
      {{#if errorMessage}}
        <centered xs="1">
          <span class="{{styles.error-exclaim}}">!</span>
        </centered>
        <centered xs="10" justify="start">
          <p class="{{styles.error-message}}">
            {{errorMessage}}
          </p>
        </centered>
      {{/if}}
    </centered>
    <centered xs="3" justify="end">
      {{#if authenticate.isRunning}}
        <centered class="{{styles.loading}}">🍕 </centered>
        <centered class="{{styles.loading}}">🍔</centered>
      {{else}}
        <button type="submit">LOGIN</button>
      {{/if}}
    </centered>
  </hbox>
</form>
